@import url("global.css");
@import url("fonts.css");
@import url("header.css");
@import url("footer.css");
@import url("card.css");
@import url("bookmarks.css");
@import url("profile.css");

@media (min-width:600px){
    main{
        padding:0 3em 3em
    }

    .container{
        max-width:80%;
        border-radius: 22px;  
        margin:auto;
    }
}

h1, h2 {
font-family: 'Playfair Display';
font-style:normal;
font-weight: bold;
}

p, h3, h4, h5, a{
    font-family: 'lato';
    font-style:normal;
    font-weight: 100;
}