@import url("global.css");
@import url("fonts.css");
@import url("header.css");
@import url("footer.css");
@import url("card.css");
@import url("bookmarks.css");
@import url("profile.css");

@media (min-width:600px){
    main{
        padding:0 3em 3em
    }

    .container{
        max-width:80%;
        border-radius: 22px;  
        margin:auto;
    }
}

h1, h2 {
font-family: 'Playfair Display';
font-style:normal;
font-weight: bold;
}

p, h3, h4, h5, a{
    font-family: 'lato';
    font-style:normal;
    font-weight: 100;
}

.hidden{
    display: none;
}

/*Dark mode classes */
body.dark {
    background-color: rgb(50, 51, 58);
    color: white;
  }

body.dark h2{color:white}
body.dark p span h3 h4 h5{color:white}
body.dark .subtitle{color:white}

body.dark .container {
    background-color: rgb(73, 73, 73);
}

body.dark .counter {
    background-color: rgb(73, 73, 73);
}

body.dark .footer{
    background-color: rgb(73, 73, 73);
}

body.dark header{
    background-color: rgb(73, 73, 73);
}

body.dark button{
    background-color: var(--accent-color);
    color: var(--primary-color)
  }